<div class="container">
  <legend>Job Portal</legend>
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-3">
        <label for="firstName" class="form-label">First Name</label>
        <input class="form-control" type="text" formControlName="firstName" />
      </div>
      <div class="col-md-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input class="form-control" type="text" formControlName="lastName" />
      </div>
    </div>
  </div>
</div>
