<div class="container">
  <legend>Job Portal</legend>
  <div class="row">
    <div class="col-md-8">
      <form [formGroup]="jobForm" (ngSubmit)="onSave()">
        <div class="col-md-3">
          <label for="firstName" class="form-label">First Name</label>
          <input class="form-control" type="text" formControlName="firstName" />
          <li *ngIf="!jobForm.get('firstName').value">
            First name is Required
          </li>
          <li
            *ngIf="
              jobForm.get('firstName').value && !jobForm.get('firstName').valid
            "
          >
            First name is not Valid
          </li>
        </div>
      <br>
        <div class="col-md-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input class="form-control" type="text" formControlName="lastName" />
          <li *ngIf="!jobForm.get('lastName').value">Last name is Required</li>
          <li
            *ngIf="
              jobForm.get('lastName').value && !jobForm.get('lastName').valid
            "
          >
            Last name is not Valid
          </li>
        </div>
      <br>
        <div class="col-md-3">
          <label for="submitDate" class="form-label"> Submit Date </label>
          <input
            type="date"
            class="form-control"
            formControlName="submitDate"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="jobForm.pristine || jobForm.status === 'INVALID'"
        >
          Submit
        </button>
        <button type="button" class="btn btn-primary" (click)="resetForm()">
          Reset
        </button>
      </form>
    </div>
    <div class="col col-md-4" *ngIf="preview.length > 0">
      <div style="position: fixed">
        <table>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Submitted Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of preview">
              <section>
                <td>{{ item.firstName }}</td>
                <td>{{ item.lastName }}</td>
                <td>{{ item.submitDate }}</td>
              </section>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
