<p>Start editing to see some magic happen :)</p>
<br />
<hello [name]="name"></hello>
<div class="container">
  <input type="text" placeholder="enter name..." name="uName" #uName />
  <br /><br />
  <button type="button" (click)="changeName(uName)">Submit</button>
</div>
<br />
<nav>
  <a [routerLink]="['']">Home Component</a> &nbsp;&nbsp;&nbsp;
  <a [routerLink]="['child']">Child Component</a> &nbsp;&nbsp;&nbsp;
  <a [routerLink]="['location']">Location Component</a> &nbsp;&nbsp;&nbsp;
  <a
    [routerLink]="[
      {
        outlets: {
          sidebar: ['sidebar']
        }
      }
    ]"
    >Sidebar Component</a
  >&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['book']">Book Component</a> &nbsp;&nbsp;&nbsp;
  <a
    [routerLink]="['e-book']"
    [queryParams]="{ type: 'kindle' }"
    queryParamsHandling="merge"
    >E-Book Component</a
  >
  &nbsp;&nbsp;&nbsp;
  <a [routerLink]="['product/1234/red/abc']">Product Component</a>
  &nbsp;&nbsp;&nbsp;
  <!-- <a [routerLink]="['child']" [queryParams]="{ debug: true }"
    >Child Component Link</a
  > -->
</nav>

<div>
  <div style="float:left">
    <router-outlet></router-outlet>
  </div>
  <!-- Auxilary Route -->
  <div style="float:right">
    <router-outlet name="sidebar"></router-outlet>
  </div>
</div>
