<!DOCTYPE html>
<div>My name is {{ name | uppercase }}</div>
<!-- {{ number | uppercase }} -->
<div>
  <h4>Testing Customised Pipe</h4>
  {{ 'Reverse this string' | reverse }}
</div>

<div>
  <h4>Testing Customised Directive</h4>
  <p highlight truncate>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde saepe
    aspernatur autem hic fuga repudiandae debitis explicabo sapiente nam
    deleniti cumque, sunt, distinctio ab magni maxime accusantium mollitia!
    Molestiae itaque doloribus laborum ipsa voluptates.
  </p>
  <p truncate>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem repellendus
    accusantium et!
  </p>
</div>
